.button {
    &_menu {
        background-color: transparent;
        border: none;
    }

    &_menu--open {
        display: block;
    }

    &_book,
    &_orange {
        font-family: 'Lato-Regular', sans-serif;
        border: none;
        border-radius: 50px;
        font-size: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 206px;
        height: 50px;
        padding: 5px 10px 5px 25px;
    }

    &_book {
        background-color: var(--white);
        color: var(--text);
    }

    &_orange {
        background-color: var(--orange);
        color: var(--white);
        align-self: center;
    }

    &_contacts {
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 18px;
        border: 0;
        color: white;
        background-color: var(--text-main);
        padding: 20px 120px;
        border-radius: 50px;
    }

    &_submit,
    &_reset {
        color: var(--text);
        border: 2px solid var(--yellow);
        width: 240px;
        height: 42px;
        border-radius: 25px;
        align-self: center;
    }

    &_submit {
        width: 100%;
        background-color: var(--yellow);
    }

    &_reset {
        background-color: var(--white);
    }
}

@media (min-width: $tv) {
    .button {
        &_menu {
            display: none;
        }

        &_orange {
            align-self: flex-start;
        }
    }
}

@media (min-width: $pv) {
    .button {
        &_book {
            cursor: pointer;
        }

        &_orange--card {
            align-self: flex-start;
            cursor: pointer;
        }
    }
}
