.container {

    &_rooms,
    &_review {
        width: $mc;
        margin: 0 auto;
    }

    &_catalog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 40px 40px 1fr repeat(2, min-content);
    }

    &_header {
        width: $mc;
        height: inherit;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_main,
    &_why {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    &_main {
        gap: 3em;
    }

    &_why {
        width: $mc;
        margin: 0 auto;
        gap: 2em;
    }

    &_rooms {
        display: flex;
        overflow-x: auto;
        min-width: 100%;
        gap: 5px;
    }

    &_banner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &_popup {
        width: 290px;
        height: 825px;
        margin: 0 auto;
        background-color: var(--white-popup);
        padding-left: 20px;
    }

    &_footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1em;
        padding: 30px 15px;
    }
}

@media (min-width: $tv) {
    .container {
        &_header {
            width: $tc;
        }

        &_catalog {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 40px 1fr repeat(2, min-content);
        }

        &_why {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &_habitations {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &_contacts {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &_footer {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media (min-width: $pv) {
    .container {

        &_header,
        &_why,
        &_rooms,
        &_contacts,
        &_footer {
            width: $pc;
            margin: 0 auto;
        }

        &_catalog {
            width: 1166px;
            margin: 0 auto;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, min-content);
            gap: 1em;
        }

        &_rooms {
            overflow-x: visible;
            min-width: auto;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &_review {
            width: 50%;
        }

        &_banner {
            width: 370px;
            align-items: flex-start;
        }
    }
}
