.container {

    &_header {
        width: $mc;
        height: inherit;
        margin: 0 auto;
    }

    &_main,
    &_why {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    &_main {
        gap: 3em;
    }

    &_why {
        width: $mc;
        margin: 0 auto;
        gap: 2em;
    }

    &_rooms,
    &_review {
        width: $mc;
        margin: 0 auto;
    }
}

@media (min-width: $tv) {
    .container {
        &_header {
            width: $tc;
        }
    }
}

@media (min-width: $pv) {
    .container {
        width: $pc;
    }
}
