.header {
    height: 60px;
    position: relative;
    margin-bottom: 1em;
}

@media (min-width: $tv) {
    .header {
        height: 90px;
    }
}

@media (min-width: $pv) {
    .header {
        margin-bottom: 2em;
    }
}
