.icon {
    width: 40px;
    height: 40px;

    &_logo {
        width: 46px;
        height: 38px;
    }

    &_button {
        stroke: var(--black);
    }

    &_menu,
    .button_menu--open &_cross {
        display: block;
    }

    &_cross,
    .button_menu--open &_menu {
        display: none;
    }

    &_book,
    &_orange {
        width: 36px;
        height: 36px;
    }

    &_why {
        width: 60px;
        height: 60px;
    }

    &_arrow {
        width: 100%;
    }

    &_filter {
        width: 12px;
        height: 15px;
    }
}

@media (min-width: 768px) {
    .icon {
        &_why {
            width: 75px;
            height: 75px;
        }
    }
}

@media (min-width: 1366px) {
    .icon {
        &_why {}
    }
}
