.link {
    color: var(--text);
    text-decoration: none;

    &_menu {
        font-size: 20px;
        font-family: 'Rubik-Medium', sans-serif;
        font-weight: 500;
    }

    &_tel {
        display: block;
        margin-bottom: 40px;
    }

    &_social {
        font-size: 0;
        line-height: 0;
    }

    &_politics {
        color: var(--grey);
    }

    &_more,
    &_card {
        width: 220px;
        height: 46px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--orange);
        color: var(--white);
        padding-right: 5px;
        padding-left: 60px;
        border-radius: 25px;
    }

    &_card {
        width: 250px;
    }
}

@media (min-width: 768px) {
    .link {
        &_tel {
            display: none;
        }

        &_menu {
            display: flex;
            height: inherit;
            justify-content: center;
            align-items: center;
        }
    }
}
