.list {
    &_menu-main {
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &_menu-footer {
        margin: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
    }

    &__item {
        &_rooms {
            font-family: 'Lato-Regular', sans-serif;
            font-size: 15px;
            position: relative;
            padding-left: 15px;
            line-height: 2em;
        }

        &_rooms::before {
            content: '';
            width: 11px;
            height: 11px;
            border-radius: 50%;
            background-color: var(--yellow);
            position: absolute;
            top: 10px;
            left: 0;
        }

        &_footer {
            flex-basis: 45%;
        }
    }
}

@media (min-width: $tv) {
    .list {

        &_menu-main {
            height: inherit;
            flex-direction: row;
            margin: 0;
            gap: 0;
        }

        &_menu-footer {
            flex-wrap: nowrap;
        }

        &__item {
            &-main {
                height: inherit;
                flex-grow: 1;
            }

            &_rooms {
                font-size: 13px;
                margin-bottom: 13px;
            }
        }
    }
}
