.menu {
    display: none;

    &_open {
        display: block;
        padding-left: 15px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--white);
        min-height: 100vh;
    }

    &_footer {
        display: flex;
    }
}

@media (min-width: 768px) {
    .nav {
        &_main {
            display: block;
        }
    }
}
