.popup {
	display: none;
}

.popup_open {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 10000px;
	z-index: 10;
	background-color: var(--white-popup);
	backdrop-filter: blur(5px);
	padding-top: 80px;

	&__form {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 2em;
	}

	&__close {
		width: 28px;
		height: 28px;
		margin-left: auto;
	}
}

@media (min-width: $pv) {
	.popup {
		display: block;
		width: 332px;
		height: 825px;
		grid-column: 1/2;
		grid-row: 2/3;
		&_open {
			&__close {
				display: none;
			}
		}
	}
}