.rooms {
    &__item {
        border: 1px solid var(--grey);
        border-radius: 6px;

        &-index {
            flex-basis: 100%;
        }

        &_catalog {
            margin-right: 0;
        }
    }
}

@media (min-width: $tv) {
    .rooms {
        &__item {

            &_index {
                flex-basis: 45%;
            }

            &_catalog {
                flex-basis: 45%;
            }
        }
    }
}

@media (min-width: $pv) {
    .rooms {
        &__item {
            flex-basis: 30%;
        }
    }
}
