.slider {
    &__item {
        min-height: 230px;

        &_review {
            position: relative;
            margin-bottom: 1em;
        }

        &_review--open {
            font-family: 'Rubik-Medium', sans-serif;
            font-size: 30px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        margin-bottom: 25px;
        padding-left: 1em;
    }

    &__arrows {
        display: flex;
        justify-content: space-between;
        height: 40px;
        margin-bottom: 1em;
    }

    &__prev,
    &__next {
        flex-grow: 1;
    }

    &__dots {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1em;
    }

    &__dot {
        width: 12px;
        height: 12px;
        background-color: var(--grey);
        border-radius: 50%;

        &_active {
            background-color: var(--orange);
        }
    }
}

@media (min-width: $tv) {
    .slider {
        &__item {
            position: relative;
        }

        &__info {
            background-color: var(--white);
            align-items: flex-start;
            grid-column: 2/3;
            grid-row: 2/3;
        }
    }
}

@media (min-width: $pv) {
    .slider {}
}
