.title {
    text-align: center;

    &_h1 {
        &--catalog {
            grid-column: 1/3;
            grid-row: 1/2;
        }
    }

    &_h2 {
        font-family: 'Rubik-Bold', sans-serif;
        margin-bottom: 1em;

        &-why {
            grid-column: 1/2;
            grid-row: 1;
        }
    }

    &_h3 {
        font-family: 'Rubik-Medium', sans-serif;
        font-size: 18px;
        font-weight: 600;
        text-align: left;
    }
}

@media (min-width: $tv) {
    .title {

        &_h1 {
            &--catalog {
                grid-column: 1/3;
            }

            &--card {
                grid-column: 2/3;
                grid-row: 1/2;
            }
        }

        &_h2 {
            font-size: 2.2rem;
        }

        &_h3 {
            font-size: 20px;
        }
    }
}

@media (min-width: 1366px) {
    .title {

        &_h1 {
            &--catalog {
                grid-column: 1/2;
                grid-row: 1/2;
            }
        }

        &_h3 {
            font-size: 22px;
        }
    }
}
