*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

input[type="radio"] {
    appearance: none;
}

fieldset {
    border: none;
}

/* Viewport Sizes*/

/* Mobile viewport 375px */
$mv: 375px;
/* Tablet viewport 768px */
$tv: 768px;
/* PC viewport 1366px*/
$pv: 1366px;

/* Container Sizes */

/* Mobile Container*/
$mc: 88%;
/* Tablet Container*/
$tc: 91%;
/* Pc Container*/
$pc: 1166px;

/* Colors */
:root {
    --black: rgba(20, 19, 18, 1);
    --text: rgba(26, 33, 47, 1);
    --orange: rgba(255, 114, 54, 1);
    --yellow: rgba(250, 198, 99, 1);
    --white: rgba(255, 254, 253, 1);
    --white-popup: rgba(255, 254, 253, .8);
    --gray-bg: rgba(255, 253, 251, 1);
    --grey: rgba(225, 225, 225, 1);
}
