.why {
    padding-top: 70px;

    &__item {
        width: 290px;
        min-height: 289px;
        padding: 25px;
    }
}

@media (min-width: 768px) {
    .why {
        &__item {
            width: 324px;
        }
    }
}

@media (min-width: 1366px) {
    .why {
        &__item {
            width: 370px;
        }
    }
}
