.why {
    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (min-width: $tv) {
    .why {
        &__item {
            flex-basis: 45%;
        }
    }
}

@media (min-width: $pv) {
    .why {
        &__item {
            flex-basis: 30%;
        }
    }
}
